.appFriends
  background: #fff
  .ivu-icon
    margin-top: -2px
  .tabBtns
    height: 70vh
    .ivu-tabs-tabpane
      >div
        height: 63vh
        overflow-y: auto
    .ivu-tabs-nav-scroll
      background: #fff
      overflow-x: auto
      width: 100%
      div
        width: 100%
      .ivu-tabs-tab
        width: 18%
        text-align: center
        height: 6.5vh
        line-height: 6.5vh
        padding: 0
  .p-active
    position: relative
    margin: 8px
    min-height: 19vh
    padding: 5px 10px
    border-radius: 4px
    background: linear-gradient(rgba(160,13,5,0.9), rgba(211,139,44,0.8))
    box-shadow: 0 0 5px 0 #dbdbdb
    .ivu-icon
      margin-top: -2px
      color: #FCC990
  .active-title
    text-align: center
    font-size: 1.6rem
    color: #fff
    margin-bottom: 10px
  .active-user,
  .active-phone,
  .active-friends
    color: #fff
    font-size: 1.3rem
  .active-user
    text-align: left
  .p-headImg
    height: 5rem
    img
      position: absolute
      top: -5px
      left: 50%
      margin-left: -3rem
      z-index: 99
      width: 6rem
      height: 6rem
      border-radius: 100%
      background: #fff
      box-shadow: 0 0 5px 0 #666
  .p-user
    color: #d38b2c
  .p-head
    img
      width: 4rem
      height: 4rem
      border-radius: 100%
      background: #fff
      box-shadow: 0 0 5px 0 #999
  .active-friends,
  .p-friends
    margin-top: 5px
    overflow-y: auto
    height: 40px
    text-align: justify
  .p-friends
    height: auto
  .p-list
    margin: 8px
    padding: 10px 10px 5px
    border-radius: 4px
    background: #fff
    overflow: hidden
    box-shadow: 0 0 5px 0 #dbdbdb
    .ivu-row
      position: relative
    div,
    span
      font-size: 1.3rem
  .p-manage
    font-size: 1.2rem
    margin-top: 10px
    button
      padding: 0px 10px
      border-radius: 4px
    span
      padding: 0
  .p-delete
    color: #fff
  .edit-main
    font-size: 1.4rem
  .p-more
    margin-top: 5px
    margin-right: -3px
