.appEnRead
  background: #fff
  .col-list
    margin: 3px
    padding: 6px 5px
    border-radius: 4px
    background: #fff
    box-shadow: 0 0 5px 0 #dbdbdb
  .p-title
    margin: 0 3px 3px
    padding: 8px 5px
    background: #fff
  .rightBtn
    font-size: 1.2rem
    float: right
    i
      line-height: 1.5
  .p-num
    color: #CB1A0A
  .p-name
    color: #CB1A0A
    font-size: 1.5rem
  .p-phonetic
    color: #5C7627
    padding-left: 5px
  .p-meaning
    padding-top: 10px
    >div
      color: #5C7627
      text-align: justify
      display: inline-block
      span
        margin-right: 20px
  .p-collect
    cursor: pointer
    width: 40px
    height: 36px
    line-height: 36px
    text-align: center
    vertical-align: top
    display: inline-block
    margin-right: -5px
    margin-top: -5px
    float: right
    span
      margin-right: 0px
    i
      font-size: 2rem
    .ivu-icon-md-star
      color: #C6713D
  .p-audio
    padding: 3px 10px
    color: #1A73E8
    cursor: pointer
    i
      font-size: 1.6rem
