.appEnWriteDetail
  background: #fff
  color: #1C8605
  word-wrap: break-word
  word-break: break-all
  .ivu-btn
    width: 40%
  .ivu-btn:hover, .ivu-btn[disabled], button:hover, button[disabled], input[type=button]:hover, input[type=button][disabled]
    background: linear-gradient(#19be6b, #79fcbc)
  .p-bottom
    position: fixed
    bottom: 5px
    left: 0
    width: 100%
    text-align: center
    >button:nth-child(1)
      margin-right: 10%
  .p-main
    margin: 3px
    padding: 10px 10px
    border-radius: 4px
    background: #fff
    box-shadow: 0 0 5px 0 #dbdbdb
  .p-name
    font-size: 3.2rem
    color: #BC0D36
    text-align: center
    background: #FEF3D7
    >div
      font-size: 1.7rem
      color: #1C8605
      padding: 20px 0 10px
  .p-meaning,
  .p-example
    text-align: justify
    >div
      margin: 20px 0 10px
    >div:nth-child(1)
      color: #000
      margin: 20px 0 10px
  .p-example
    border-top: 1px solid #f4f4f4
      
  
