.app
  width: 100%
  height: 100vh
  background: #fff
  >div
    position: relative
    width: 100%
    height: 100vh!important
    background: #fff
    padding: 3rem 0.5rem
    z-index: 666
  .slide-out-enter-active,
  .slide-out-leave-active,
  .slide-in-enter-active,
  .slide-in-leave-active
    will-change: transform
    transition: all 1000ms
    position: absolute
    height: 100%
    width: 100%
    perspective: 1000
    backface-visibility: hidden
  .slide-out-enter
    opacity: 0
    transform: translate3d(-100%, 0, 0)
  .slide-out-leave-active
    opacity: 0
    transform: translate3d(100%, 0, 0)
  .slide-in-enter
    opacity: 0
    transform: translate3d(100%, 0, 0)
  .slide-in-leave-active
    opacity: 0
    transform: translate3d(-100%, 0, 0)
