
.appStart
  padding-top: 0px!important
  .ivu-btn-primary
    width: 55px
    height: 55px
    padding: 0
    display: block
    margin: 50vh auto 2rem
    background: linear-gradient(90deg, rgb(29, 98, 240), rgb(25, 213, 253))
