/*Created by macmzon@163.com*/
.appMenu
  .tabMain
    text-align: center
  .tabList
    display: inline-block
    width: 20%
    height: 35px
    line-height: 35px
    box-shadow: 0px 0px 5px 2px #ebebeb
    margin: 10px 5%
    text-align: center
    border-radius: 5px
    color: #f4f4f4
  .tabList:nth-child(1)
    background: #E8692F
  .tabList:nth-child(2)
    background: #E83A30
  .tabList:nth-child(3)
    background: #E72F8C
  .tabList:nth-child(4)
    background: #892FE8
  .tabList:nth-child(5)
    background: #795A98
  .tabList:nth-child(6)
    background: #2DE8BD
  .tabList:nth-child(7)
    background: #31E749
  .tabList:nth-child(8)
    background: #A4E82F
  .tabList:nth-child(9)
    background: #AF5A5A
  .tabList:nth-child(10)
    background: #E7B72F
  .tabList:nth-child(11)
    background: #E88C30
  .tabList:nth-child(12)
    background: #6AA205
  .tabList:nth-child(13)
    background: #FFA4A4
  .tabList:nth-child(14)
    background: #31C9E8
  .tabList:nth-child(15)
    background: #F8BB00
