.appSet
  background: #fff
  .p-main
    margin: 3px
    padding: 10px 10px
    border-radius: 4px
    background: #fff
    box-shadow: 0 0 5px 0 #dbdbdb
    .ivu-form-inline .ivu-form-item
      width: 100%
      margin: 1rem 0 2rem
  .p-bottom
    width: 100%
    text-align: center
    position: fixed
    left: 0
    bottom: 5px
    button
      color: #f4f4f4
      width: 80%
  .p-address
    >div
      >span
        width: 54.5px
        height: 73px
        display: inline-block
        vertical-align: top
        line-height: 2.2
        background: #f8f8f9
        border: 1px solid #e3e3ee
        border-radius: 4px 0 0 4px
        border-right: none
      >div
        display: inline-block
        width: calc(100% - 56px)
        margin-left: -4px
       textarea
        border-radius: 0 4px 4px 0
        