
.appProve
  background: #fff
  padding-top: 0!important
  .container
    width: 300px
    >form
      margin-top: 20px
  .headerFace
    border-radius: 100% 100%
    display: block
    margin: 0 auto 10px
  input
    color:#666
    font-size: 15px
  .ivu-icon-ios-person
    font-size: 20px
    width: 16px
  .ivu-form-inline .ivu-form-item
    width: 300px
  .ivu-form-item-error-tip
    padding: 5px 10px 0
    font-size: 12px
  .ivu-icon-ios-person:before
    margin-left: -2px
  .x-title
    font-size: 1.4rem
    color: #333
    text-align: center
  .x-prove
    button
      position: fixed
      bottom: 10px
      left: 25%
      font-size: 1.6rem
      color: #fff
      box-shadow: 0 0 5px 0 #dbdbdb
      width: 50%
      padding: 2px 15px 3px 15px
      text-align: center
      border-radius: 5rem
  .idPhoto
    position: relative
    width: 170px
    height: 100px
    margin: 0 auto
    i
      position: absolute
      left: 75px
      top: 43px
      font-size: 2rem
  .x-img
    width: 170px
    height: 100px
    background: #fff
