
.appProve
  background: #fff
  padding-top: 0!important
  .container
    >form
      margin: 20px auto
      width: 300px
  .headerFace
    border-radius: 100% 100%
    display: block
    margin: 0 auto 10px
  input
    color:#666
    font-size: 15px
  .ivu-icon-ios-person
    font-size: 20px
    width: 16px
  .ivu-form-inline .ivu-form-item
    width: 300px
  .ivu-form-item-error-tip
    padding: 5px 10px 0
    font-size: 12px
  .ivu-icon-ios-person:before
    margin-left: -2px
  .x-title
    font-size: 1.4rem
    color: #333
    text-align: center
  .idPhoto
    position: relative
    width: 170px
    height: 100px
    margin: 0 auto
    i
      position: absolute
      left: 75px
      top: 43px
      font-size: 2rem
  .x-img
    width: 170px
    height: 100px
    background: #fff
  .x-step
    padding: 30px 0
    margin-bottom: 60px
    background: linear-gradient(rgba(160,13,5,0.9), rgba(211,139,44,0.8));
    .ivu-icon
      font-size: 3rem
      text-align: center
      color: #FABC6F
    .x-icon
      margin: 10px auto
      width: 260px
      span
        margin: 0 10px
        color: #C6C6C6
  .x-list
    margin: 0 auto
    width: 260px
    span
      position: relative
      color: #fff
    span:nth-child(1)
      left: calc(50% - 145px)
    span:nth-child(2)
      left: calc(50% - 102px)
    span:nth-child(3)
      left: 82px
