.appWord
  background: #fff
  .col-list
    margin: 3px
    padding: 10px 5px
    border-radius: 4px
    background: #fff
    box-shadow: 0 0 5px 0 #dbdbdb
  .p-title
    margin: 0 3px 3px
    padding: 8px 5px
    background: #fff
  .rightBtn
    font-size: 1.2rem
    float: right
  .p-num,
  .p-name
    color: #CB1A0A
  .p-phonetic
    color: #5C7627
    padding-left: 5px
  .p-meaning
    color: #5C7627
    padding-top: 10px
